<li class="<%= message.id.even? ? 'even' : 'odd' %>">
  <div class="name">
    <span class=""><%= message.user.nickname %></span>
  </div>
  <div class="message">
    <p><%= message.content %></p>
    <span class="msg-time"><%= message.created_at&.strftime("%l:%M %p") %></span>
  </div>
</li>
