.chat-row {
  // background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230814/pngtree-the-gray-abstract-texture-of-the-polished-concrete-image_13053271.jpg);
  background-color: rgb(50,50,50);
  padding: 30px;
  color: #fff;
}

.event-row{
  padding: 8px;
}

.col-6 {
  padding: 0 0;
}

.send-btn {
  background-color: #a9b89e;
  color: #333f4d;
  text-align: center;
  width: 40px;
}

.my-account {
  box-sizing: content-box; /* Ou qualquer outro valor desejado para box-sizing */
}


.input-area .input-wrapper input[type="submit"].send-btn {
  height: auto;
  line-height: normal; /* ou remova esta linha se não for necessário */
  min-width: 100px;
}

.input-area .input-wrapper {
  display: flex;
  align-items: center;
}

.input-area .input-wrapper input[type="text"] {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  margin: 0; /* Remova margens para evitar espaçamento indesejado */
  padding: 0 10px;
  box-sizing: border-box;
  vertical-align: middle;
}

.input-area .input-wrapper .fa {
  /* Adicione margens para ajustar a posição do ícone conforme necessário */
  margin-right: 10px;
}

.input-area > input {
  background: #a0b4c0;
  border: none;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  float: right;
  height: 100%; /* Defina a altura para 100% */
  line-height: 30px;
  cursor: pointer;
  font-family: 'Open Sans', Arial, sans-serif;
  outline: none;
}


// .messages .message:nth-child(even) {
//   background-color: rgb(255, 255, 255);
//   color: rgb(50, 50, 50);
// }

// .messages .message:nth-child(odd) {
//   background-color: #f6fbee;
//   color: rgb(50, 50, 50);
// }


.even {
  background-color: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
}

.odd {
  background-color: #f6fbee;
  color: rgb(50, 50, 50);
}

.messages {
  overflow: hidden;
  max-height: 78.6vh; // Ajuste conforme necessário
  overflow-y: auto;
}

.message {
  padding: 1rem;

  p {
    margin: 0;
  }
}


 .ul-chat {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

b{
	font-weight: bold;
}
.window-wrapper{
	background: #fff;
	width: 780px;
	margin: 30px auto;
	border-radius: 6px;
	box-shadow: 0 0 6px rgba(0,0,0,0.3);
	overflow: hidden;
	min-height: 530px;
	position: relative;
}
.window-title{
	padding: 14px;
	position: relative;

  > .title{
    overflow: hidden;
    text-align: center;
    font-weight: bold;
  }
}

.title {
  font-size: 24px;
}

.dots{
	float: left;
	width: 50px;

    > i{
        margin-right: 2px;

        &:nth-child(1){
            color: #f57e7d;
        }

        &:nth-child(2){
            color: #ffc881;
        }

        &:nth-child(3){
            color: #82cf85;
        }
    }
}

.expand > i{
	color: #cfd6e0;
	font-size: 18px;
	cursor: pointer;
}
.window-area{
	padding-left: 176px;
}
.conversation-list{
	background: $chat-background;
  height: 100%; //
  display: flex;
    flex-direction: column;

    ul li {
        &.active a{
            background: #445166;
	        color: #fff;
        }
            a{
            padding: 15px;
            color: #bcc3d0;
            text-decoration: none;
            display: block;
            position: relative;

            border-bottom: 2px solid #586476;
            transition: all 0.2s linear;
                i{
                    color: #79889d;
                    font-size: 1.2em;

                    &.fa-times{
                      font-size: 10px;
                    }
                }

                span{
                    display: inline-block;
                    // margin-left: 14px;
                }

                &:hover{
                    background: #445166;
                    color: #fff;
                }
        }
    }

    .online{
        color: #82cf85;
    }

    .idle{
        color: #ffac69;
    }

    .offline{
        color: #f57e7d;
    }
}

.chat-area{
	border-top: 1px solid #cfdae1;
	box-shadow: inset 0 1px 3px rgba(207, 218, 225, 0.42);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


    .title{
        padding: 10px;
        overflow: hidden;
        line-height:15px;

        .fa-search{
            font-size: 14px;
            float: right;
            color: #a8bbc6;
            cursor: pointer;
        }
    }
}
.chat-area .chat-list{
	border-top: 1px solid #cfdae1;
	border-bottom: 1px solid #cfdae1;
	overflow-y: auto;
	outline: none;

    & > div > .jspPane {
        margin-left: 0 !important;
    }
}
.chat-area ul{
	margin-right: -4px;
}
.chat-area ul > li{
	border-top: 1px solid #cfdae1;
	overflow: hidden;
	position: relative;
}

.chat-area ul > li:first-child{
	border-top: none;
}
.chat-area ul .name{
	padding: 14px;
	text-align: right;
	width: 100px;
	float: left;
	color: #5d7185;
	font-weight: bold;
	line-height: 20px;
}
.chat-area ul .message{
	padding: 14px;
	border-left: 1px solid #cfdae1;
	float: left;
	color: #333f4d;
	width: 214px;
}
.chat-area ul .message > p{
	line-height: 20px;
}
.chat-area ul .message > p > .blue-label{
	background: #6ea0ff;
	color: #fff;
	padding: 2px 5px;
	border-radius: 3px;
}
.chat-area ul .message .msg-time{
	color: #738ba3;
	font-size: 9px;
}
.input-area{
	background: #e4eaee;
	padding: 6px;
	overflow: hidden;
	border-top: 1px solid #cfdae1;
  margin-top: auto;
}
.input-area .input-wrapper{
	background: #fff;
	border: 1px solid #cfdae1;
	border-radius: 5px;
	overflow: hidden;
	float: left;
}
.input-area .input-wrapper input{
	height: 30px;
	line-height: 30px;
	border: 0;
	margin: 0;
	padding: 0 10px;
	outline: none;
	color: #5D7185;
	min-width: 271px;
}
.input-area .input-wrapper i{
	font-size: 18px;
	color: #a0b4c0;
	margin-right: 10px;
  margin-top:8px;
	cursor: pointer;
}
.input-area > input{
	background: #a0b4c0;
	border: none;
  letter-spacing:1px;
	font-weight: bold;
	color: #fff;
	border-radius: 4px;
	float:right;
	height: 36px;
	line-height: 30px;
	cursor: pointer;
  outline: none;

  .chat-details {
    display: flex;
    flex-basis: 50%;
    padding: 4px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
  }
}

  .input-message {
    height: 35px;
    margin-bottom: 0 !important;
    width: 100%;
  }

.event-photo {
  background-size: cover;
}

.chat-button {
  margin-bottom: 0 !important;
  background-color: $chat-background !important;
}

.chat-details {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  p {
    font-size: 18px;
  }
}

.right-tabs{
	overflow: hidden;
	border-left: 1px solid #cfdae1;
	border-top: 1px solid #cfdae1;
  background-color: $chat-background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; //
}
.right-tabs > ul.tabs{
	overflow: hidden;
}
.right-tabs > ul.tabs > li{
	float: left;
	width: 33.3%;
	text-align: center;
	border-bottom: 1px solid #cfdae1;
}
.right-tabs > ul.tabs > li > a{
	border-left: 1px solid #cfdae1;
	color: #72a3ff;
	display: block;
	background: #eef2f8;
	padding: 8px 0;
  transition: background 0.2s linear;
}

.right-tabs > ul.tabs > li > a:hover{
  background: #DDE5F1;
}

.right-tabs > ul.tabs > li.active{
	border-bottom: none;
}
.right-tabs > ul.tabs > li.active > a{
	background: #fff;
	color: #c3ccd3;
}
.right-tabs > ul.tabs > li:first-child > a{
	border-left: none;
}
.right-tabs > ul.tabs > li > a >i{
	font-size: 18px
}
ul.tabs-container{
	padding: 10px;
	color: #6e7f91;
}
.right-tabs > .fa-cog{
	color: #a0b4c0;
	font-size: 18px;
	cursor: pointer;
}
.member-list > li{
	padding: 5px 0;
}
.member-list > li .status{
	margin: 0 10px 0 0;
	font-size: 14px;
}
.member-list > li .status.online{
	color: #82cf85;
}
.member-list > li .status.idle{
	color: #ffac69;
}
.member-list > li .status.offline{
	color: #f57e7d;
}
.member-list > li .time{
	float: right;
	font-size: 9px;
	margin-top: 4px;
}
.my-account{
	height: 34px;
	padding: 8px;
	background: #445166;
  margin-top: auto;

  > .image{
    width: 30px;
    height: 30px;
    float: left;
    position: relative;

    > i{
      position: absolute;
      top: -2px;
      right: -2px;
    }

    > img{
      width: 30px;
      height: 30px;
      border-radius: 30px;
    }
  }

  .name{
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
    float: left;
    cursor: pointer;

    .availability{
      display: block;
      font-weight: normal;
      color: #8391a1;
      margin-top: 5px;
    }
  }
}
.jspDrag{
	background: #A1AFC4;
	border-radius: 10px;
}
.jspVerticalBar{
	width: 7px;
}
