.row {
  display: flex;
  scrollbar-gutter: 0;
}

.chat-row {
  // background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230814/pngtree-the-gray-abstract-texture-of-the-polished-concrete-image_13053271.jpg);
  background-color: rgb(50,50,50);
  padding: 30px;
  color: #fff;
}

.event-row{
  padding: 30px;
}

.col-6 {
  padding: 0 0;
}


.messages .message:nth-child(even) {
  background-color: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
}

.messages .message:nth-child(odd) {
  background-color: #f6fbee;
  color: rgb(50, 50, 50);
}

.message {
  padding: 1rem;

  p {
    margin: 0;
  }
}
// .message, .p :nth-child(odd) {
//   background-color: white;
//   color: black;
// }
