.container-filter-page {
  // margin-right: 150px;
  display: flex;
}

.filters {
  margin: 30px auto;
  li {
    list-style: none
  }
  li a{
    text-decoration: none;
  }
}

.filters .period-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.filters .period-item {
  margin-right: 10px;
}

.filter-section {
  display: flex;
  flex-direction: column;
}

.category-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.form-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: auto;
  gap: 20px;
}

.filter-sticky {
  position: sticky;
  top: 80px;
  height: 100vh;
  background-color: #dadada;
  // background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGy9Wz-wROXEgyjP3khyAs3M6ZjvAKZR3mBmZsv_tCkPJ8wvSsojHKSgk6rXuRT1x114g&usqp=CAU);
  // background-size: cover;
  // background-repeat: no-repeat;
}

.title-filter {
  margin-top: 115px;
}

.flex-row-filter {
  // position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  gap: 20px;
  // margin-left: 600px;
  // justify-content: space-between;
}

.calendar {
  margin-top: 20px;
}
