.filters {
  margin: 30px auto;
  li {
    list-style: none
  }
  li a{
    text-decoration: none;
  }
}

.filters .period-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.filters .period-item {
  margin-right: 10px;
}

.filter-section {
  display: flex;
  flex-direction: column;
}

.category-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.form-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: auto;
  gap: 20px;
}

.filter-fixed {
  position: fixed;
  top: 80px;
}

.fixed-cards {
  // position: relative;
  // left: 50%;
  margin-left: 25%;
  margin-top: 100px;
}

#card  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 100px
  }

#card .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px; /* Adjust the margin for the cards */
}

#card .card-title {
  grid-area: title;
}

.card-link {
  text-decoration: none;
}

#card .card-detail {
  grid-area: detail;
}

#card .card-text {
  grid-area: text;
}

#card .card-product-price {
  grid-area: product-price;
}

#card .card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex; /* Use Flexbox for centering */
  justify-content: center;
  align-items: center;
}

#card .card-image img {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  max-height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.card-img-top {
  border-radius: 5px;
}

#card .card-title h2 {
  grid-area: title;
  margin: 15px 25px 0px;
  color: grey;
  font-size:28px;
  text-align: left;
  line-height: 1.5em;
}

#card .card-detail  {
  grid-area: detail;
  margin: 5px 25px;}

#card .card-detail h3 {
  color: grey;
  font-size:15px;
  font-weight: 300;
  text-align: left;
  line-height: 1.5em;

}

#card .card-detail .date {
  color: #f0b501;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

#card .card-text  {
  grid-area: text;
  margin: 25px;}

#card .card-text p {
  color: grey;
  font-size:17px;
  font-weight: 300;
  text-align: left;
  line-height: 1.5em;
}

#card .card-product-price {
  grid-area: product-price;
  margin:50px 25px;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

#card .card-product-price button {
  display: inline-block;
  height: 50px;
  width:160px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-size: 14px;
  // font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #f0b501;
  cursor: pointer;
  outline: none;
}

#card .card-product-price button:hover {
  background-color: #ffd84e;
}

#card .card:hover {
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
#card .card {
  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}

-----------------------------

img {
	max-width: 100%;
	display: block;
}

.card-list {
	width: 90%;
	max-width: 400px;
}

.card {
	background-color: #FFF;
	box-shadow: 0 0 0 1px rgba(#000, .05), 0 20px 50px 0 rgba(#000, .1);
	border-radius: 15px;
	overflow: hidden;
	padding: 1.25rem;
	position: relative;
	transition: .15s ease-in;

	&:hover, &:focus-within {
		box-shadow: 0 0 0 2px #cee2ce, 0 10px 60px 0 rgba(#000, .1);
			transform: translatey(-5px);
	}
}

.card-header {
	margin-top: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	a {
		font-weight: 600;
		font-size: 1.375rem;
		line-height: 1.25;
		padding-right: 1rem;
		text-decoration: none;
		color: inherit;
		will-change: transform;
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
	}


}

.card-footer {
	margin-top: 1.25rem;
	border-top: 1px solid #ddd;
	padding-top: 1.25rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.card-meta {
	display: flex;
	align-items: center;
	color: #787878;
	&:first-child:after {
		display: block;
		content: "";
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: currentcolor;
		margin-left: .75rem;
		margin-right: .75rem;
	}
}
