.filters {
  margin: 30px auto;
  li {
    list-style: none
  }
  li a{
    text-decoration: none;
  }
}

.filters .period-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.filters .period-item {
  margin-right: 10px;
}

.filter-section {
  display: flex;
  flex-direction: column;
}

.category-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.form-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: auto;
  gap: 20px;
}

.filter-fixed {
  position: fixed;
  top: 80px;
}

.flex-row-filter {
  // position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  margin-top: 200px;
  margin-left: 600px;
  justify-content: space-between;
}
