body {
  // background-image: url(https://img.freepik.com/vetores-premium/elemento-de-onda-abstrata-para-design-em-fundo-branco_213860-715.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  height: 75vh;
}

.show-product {
  flex-basis: 50%;
  overflow: hidden;
}

.show-product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px; /* Ajuste para arredondar os cantos superiores */
}

.event-details {
  display: flex;
  flex-basis: 50%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff; /* Altere para a cor branca desejada */
  border-radius: 0 10px 10px 0;
  flex-direction: column;
  justify-content: space-between;
}

.title-show {
  margin-top: 20px;
}


.location-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.location-container i {
  margin-left: auto; /* Ajuste conforme necessário */
}

.date-show, .location-container {
  margin: 0;
}

.btn-block {
  width: 100%;
}

.map-show {
  width: 100%;
  flex-grow: 1;
  margin-bottom: 32px;
}
