.dementiawalk {
  display: inline-flex;
  height: 230px;
  width: 500px;
  position: relative;
  margin: 15px;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: {
    webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  background-repeat: no-repeat;
}

// .dementiawalk img {
//   width: 300px;
//   background-size: cover;
//   border-radius: 3px;
//   background-color: white;
// }

.dementiawalk img {
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

// .datebox {
//   width: 200px;
//   box-sizing: border-box;
//   margin: 15px;
//   height: 200px;
//   max-height: 100%;
//   position: relative;
// }

// .datebox {
//   width: 200px;
//   box-sizing: border-box;
//   margin: 15px;
//   height: 200px;
//   max-height: 100%;
//   position: relative;
//   border-radius: 5px; /* Adiciona o border-radius aqui */
//   overflow: hidden; /* Certifica-se de que a imagem não ultrapasse os cantos arredondados */
// }

.datebox {
  width: 200px;
  box-sizing: border-box;
  margin: 15px;
  height: 200px;
  max-height: 100%;
  position: relative;
  border-radius: 3px; /* Adiciona o border-radius aqui */
  overflow: hidden; /* Certifica-se de que a imagem não ultrapasse os cantos arredondados */
  background: white; /* Use branco sólido ou ajuste conforme necessário */
  padding: 10px; /* Adiciona padding ao invés de margin para evitar espaçamento esbranquiçado ao redor da imagem */
  text-align: center; /* Centraliza o conteúdo */
}



.datenumber {
font-size: 32px;
line-height: 80px;
color: white;
}

.datemonth{
  font-size: 58px;
}

// .date-user {
//   width: 100%;
//   height: 100%;
//   box-sizing: border-box;
//   background: #FFFFFF99;
//   border-radius: 3px;
// 	position: relative;
//   padding: 10px 10px 10px 10px;
//   text-align: center;
//   margin: 0px;
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   color:black;
// }

.date-user {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: rgba(16, 16, 16, 0.4); /* Altere o último valor (0.8) para ajustar a opacidade (de 0 a 1) */
  border-radius: 3px;
  position: relative;
  padding: 10px;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
}


.description-user {
  text-align: center;
  background: white;
  border-radius: 3px;
  opacity: 0.8;
  padding: 0px;
  margin: 15px;
  padding: 5px;
  height: 70px
}

.eventtitle {
  text-align: center;
  padding: 6px;
  background: white;
  border-radius: 3px;
  opacity: 0.8;
  flex-grow: 1;
  font-size: 20px;
  color: #6c826d;
  margin: 15px;
}

.containerbox {
  display: block;
  width: 300px;
  a {
    width: 100%;
  }
}

.bookingbutton {
  text-align: center;
  background: #6c826d;
  color:white;
  padding:2px;
  margin: 15px;
  height: 22.5px;
  text-decoration: none;
  // width: 100%;
}

// .bookingbutton a {
//   width: 100%;
// }
