<div class="banner">

</div>

<div class="container">
  <% @events.each do |event| %>
    <div class="card">
      <% if event.user == current_user %>
        <h2><%= link_to event.name, event_chat_path(event) %></h2>
      <% else %>
        <h2><%= link_to event.name, event_path(event) %></h2>
      <% end %>
      <p><%= event.event_date %></p>
      <p><%= event.location %></p>
    </div>
  <% end %>
</div>
