.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 250px;
}

.nav-transparent {
  background-color: transparent;
  color: white;
}

.search-bar {
  display: flex;
  float: right;
  margin-right: 80px;
}

.btn-search-navbar {
  border: 1px solid #dee2e6;
  color: #dee2e6;


  &:hover {
    background-color: #4e8d51;
    color: #fff;
  }
}

.search-bar-nav {
  display: block !important;
}
