.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 250px;
}

.nav-transparent {
  background-color: transparent;
  color: white;
}

.search-bar {
  display: flex;
  float: right;
  margin-right: 80px;
}
