.toggle-link  {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #9bcf52;
  border-radius: 15px;
  color: #505050;
  background-color: #a9e159;
  background-image: linear-gradient(315deg, #9fd554);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #45a049; /* Cor de fundo um pouco mais escura ao passar o mouse */
    color: #fff; /* Cor do texto branco ao passar o mouse */
  }
}

.toggle-link-inactive {
  @extend .toggle-link;
}

.toggle-link-active {
  @extend .toggle-link;
  background-color: #006400 !important;
  color: #fff !important;
  border: 2px solid #004d00 !important;
}
